* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


header {
    width: 100%;
    height: 600px;
    background: #23518C;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    position: absolute;
    bottom: -350px;
    width: 25%;
    left: 950px;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.portafolio{
    background: #f2f2f2;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-navbar{
    width: 100%;
    height: 7vh;
    background-color: #a9a9a926;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.top-icons{
    margin-left: 45px;
}
.top-icons i{
    font-size: 20px;
    color: #1c1c50;
    margin-left: 10px;
    cursor: pointer;
}
.other-links{
    margin-right: 33px;
}
.other-links i{
    color: #1c1c50;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
#btn-login{
    width: 100px;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-login a{
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}
#btn-login a:hover{
    background-color: #1c1c50;
    color: white;
}
#btn-login:hover{
    background-color: #1c1c50;
    color: white;
}
#btn-signup{
    width: 100px;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-signup a{
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}
#btn-signup a:hover{
    background-color: #1c1c50;
    color: white;
}
#btn-signup:hover{
    background-color: #1c1c50;
    color: white;
}
@media screen and (max-width:500px){
    .top-icons{
        margin-left: 30px;
    }
    .top-icons i{
        font-size: 15px;
    }
    .other-links i{
        font-size: 15px;
    }
    #btn-login{
        width: 60px;
        height: 5vh;
    }
    #btn-signup{
        width: 70px;
        height: 5vh;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 10px;
    }
    .top-icons i{
        font-size: 10px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 10px;
    }
    #btn-login{
        width: 50px;
        height: 5vh;
        font-size: 13px;
    }
    #btn-signup{
        width: 60px;
        height: 5vh;
        font-size: 13px;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 5px;
    }
    .top-icons i{
        font-size: 12px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 12px;
    }
    #btn-login{
        width: 40px;
        height: 5vh;
        font-size: 10px;
    }
    #btn-signup{
        width: 50px;
        height: 5vh;
        font-size: 10px;
    }
}
/* home */
.home-section{
    width: 100%;
    height: 93vh;
    background-color: #a9a9a926;
}
/* navbar */
#navbar{
    background-color: #23518C;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}
#navbar .nav-link{
    color: white;
    font-weight: bold;
    margin-left: 5px;
    transition: 0.5s ease;
}
#navbar .nav-link:hover{
    color: white;
    border-radius: 5px;
}
.dropdown li a{
    color: white;
}
#search-btn{
    color: white;
    border:  1px solid white;
}
#search-btn:hover{
    background-color: #1c1c50;
}
/* navbar */
/* home content */