*{
    margin: 0;
    padding: 0;
    font-family: "poppins" , sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: cornflowerblue
}

.from-box{
    position: relative;
    width: 900px;
    height: 700px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: azure;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50);
    color: white;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:focus ~ :valid{
    top: 1px;
}

.inputbox input{
    width: 100%;
    height: 5px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 35px 0 5px;
    color: white;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: white;
    display: flex;
    justify-content: center;
}

.forget label input{
    margin: 3px;
}

.forget label a{
    color: white;
    text-decoration: none;
}

.forget label a:hover{
    color: white;
    text-decoration: underline;
}

button{
    position: absolute;
    width: 60%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    bottom: 5%;
}

.register{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
    

}

.register p a{
    
    text-decoration: none;
    color: white;
    font-weight: 600;
    
}

.register p a:hover{
    text-decoration: underline;
    bottom: 50%;
}
/* .imagen {
    position: absolute;
    display: block;
    margin: auto;
    border-radius: 5px;
    right: 20%;
    top: 20%;
} */